<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<?define UpgradeCode="{9E379D38-4D9F-4705-9AD4-6E118DD64C9C}"?>
	<?define ProductVersion="!(bind.fileVersion.OBSSWITCHER.EXE)"?>
	<Product Id="*"
	         Name="OBS Switcher"
	         Language="1033"
	         Version="$(var.ProductVersion)"
	         Manufacturer="MEAT Inc"
	         UpgradeCode="$(var.UpgradeCode)">

		<!-- Package Metadata Configuration -->
		<Package InstallerVersion="200" Compressed="yes" />
		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
		<!-- Upgrade Information -->
		<Upgrade Id="$(var.UpgradeCode)">
			<UpgradeVersion Property="PREVIOUSVERSIONINSTALLED" Minimum="0.0.0.0" Maximum="$(var.ProductVersion)" IncludeMinimum="yes" IncludeMaximum="yes" MigrateFeatures="yes"></UpgradeVersion>
			<UpgradeVersion Property="NEWERVERSIONINSTALLED" Minimum="$(var.ProductVersion)" Maximum="99.0.0.0" IncludeMinimum="no" IncludeMaximum="yes"></UpgradeVersion>
		</Upgrade>
		<!-- Downgrading and Upgrading Sequences-->
		<InstallExecuteSequence>
			<RemoveExistingProducts Before="InstallInitialize">PREVIOUSVERSIONINSTALLED&lt;&gt;""</RemoveExistingProducts>
			<Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWERVERSIONINSTALLED&lt;&gt;"" AND NOT Installed</Custom>
		</InstallExecuteSequence>
		<CustomAction Id="PreventDowngrading" Error="A newer version of the OBSSwitcher is already installed!" />

		<!-- ========================== DIRECTORY LAYOUT/SETUP HERE ============================ -->

		<!-- Directory Setup -->
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramMenuFolder"/>
			<Directory Id="ProgramFilesFolder">
					<Directory Id="OBSSwitcherInstallDir" Name="OBS Switcher">
						<Component Id="OBSSwitcherFiles" Guid="C0DAD1F0-8592-47F5-8282-5A069D9A6F17">
							<File Id="OBSSWITCHER.EXE.CONFIG" Name="OBSSwitcher.exe.config" Source="$(var.OBSSwitcher.TargetDir)\OBSSwitcher.exe.config" />
							<File Id="COLORFUL.CONSOLE.DLL" Name="Colorful.Console.dll" Source="$(var.OBSSwitcher.TargetDir)\Colorful.Console.dll" />
							<File Id="OBSSWITCHER.EXE"  KeyPath="yes" Name="OBSSwitcher.exe" Source="$(var.OBSSwitcher.TargetDir)\OBSSwitcher.exe">
								<!-- Start Menu Shortcut -->
								<Shortcut Id="OBSSwitcherStartMenuShortcut"
								          IconIndex="0"
								          Advertise="yes"
								          Directory="ProgramMenuFolder"
								          Icon="OBSSwitcherStartMenuIcon.exe"
								          WorkingDirectory="OBSSwitcherInstallDir"
								          Name="OBSSwitcher - $(var.ProductVersion)"
								          Description="Switch OBS Scenes With Ease! Made For Ultrawides where streaming is normally impossible.">
									<Icon Id="OBSSwitcherStartMenuIcon.exe" SourceFile="$(var.OBSSwitcher.ProjectDir)\IconFiles\OBSSwitcherIcon.ico" />
								</Shortcut>
							</File>
						</Component>
					</Directory>
			</Directory>
		</Directory>

		<!-- ============================ FEATURE PACKAGE OUTPUT HERE ============================= -->

		<!-- Files and Resources -->
		<Feature Id="ProductFeature" Title="MEAT Inc - OBS Switcher" Level="1">
			<ComponentRef Id="OBSSwitcherFiles"/>
		</Feature>

		<!-- Component Refs for App Files And Links -->
		<Property Id="ARPHELPLINK">https://github.com/ZacharyWalsh57/OBSSwitcher/</Property>
		<Property Id="ARPURLINFOABOUT">https://github.com/ZacharyWalsh57/OBSSwitcher</Property>
		<Property Id="ARPURLUPDATEINFO">https://github.com/ZacharyWalsh57/OBSSwitcher/</Property>
		<Property Id="ARPHELPTELEPHONE">(516)633-3356</Property>
		<!-- UI Configuration -->
		<UI Id="UserInterface">
			<Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />
			<Property Id="WixUI_Mode" Value="Custom" />
			<!-- Text Setup -->
			<TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
			<TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="9" Bold="yes" />
			<TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />
			<Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
			<!-- Dialogs In Use -->
			<DialogRef Id="ProgressDlg" />
			<DialogRef Id="ErrorDlg" />
			<DialogRef Id="FilesInUse" />
			<DialogRef Id="FatalError" />
			<DialogRef Id="UserExit" />
			<!-- Type of Dialog to show -->
			<Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
			<Publish Dialog="WelcomeDlg" Control="Next" Event="EndDialog" Value="Return" Order="2"></Publish>
		</UI>

		<!-- UI Type -->
		<UIRef Id="WixUI_Common" />

		<!-- Icon Values -->
		<Property Id="ARPPRODUCTICON" Value="OBSSwitcherIcon.ico" />
		<Icon Id="OBSSwitcherIcon.ico" SourceFile="$(var.OBSSwitcher.ProjectDir)\IconFiles\OBSSwitcherIcon.ico"/>
	</Product>
</Wix>
