<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="StreamServiceSW" value="OBS"/>		<!-- Use this to set what service you use. OBS is the only working one for now.-->
		<add key="OBSWindowName" value="OBS 26.1.1 (64-bit, windows) - Profile: Untitled - Scenes: Untitled"/>
		<add key="DelayTime" value="1000"/>				<!-- Time bewtween mouse location updates.-->
		<add key="ForcePositiveY" value="FALSE"/>		<!-- Disable when you move off the main display.-->

		<!-- Formatted: xMin,xMax -->
		<!-- MAKE SURE YOU STEP VALUES UP BY 1 (So if Pane 1 is 0,10 you need pane 2 to be 11,X) -->
		<add key="Pane1SizeValues" value="0,1200"/>
		<add key="Pane2SizeValues" value="1201,2800"/>
		<add key="Pane3SizeValues" value="2801,3839"/>
		
		<!-- Follows the SendKeys format (These default add CTL ALT SHIFT to them)-->
		<add key="MainPaneKey" value="A"/>
		<add key="Pane1HotKey" value="B"/>
		<add key="Pane2HotKey" value="C"/>
		<add key="Pane3HotKey" value="D"/>
	</appSettings>
</configuration>